/* BACKDROP */
.modal-comunidade {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    backdrop-filter: blur(4px);
}

/* MODAL DARK */
.modal-conteudo {
    width: 420px;
    background: #1f1f1f;
    padding: 26px;
    border-radius: 18px;
    box-shadow: 
        8px 8px 20px rgba(0,0,0,0.6),
        -4px -4px 12px rgba(255,255,255,0.06);

    color: #f1f1f1;
}

.modal-conteudo h2 { 
    text-align:center; 
    margin-bottom:12px; 
    color:#eaeaea;
}

/* INPUTS */
.modal-conteudo input,
.modal-conteudo textarea,
.modal-conteudo select {
    width:100%; 
    padding:12px; 
    margin-bottom:12px; 
    border-radius:12px; 
    border:none;

    background:#2b2b2b;
    color: #fff;

    box-shadow: inset 4px 4px 8px rgba(0,0,0,0.6),
                inset -4px -4px 8px rgba(255,255,255,0.05);
}

/* BOTÕES */
.botoes { 
    display:flex; 
    justify-content:space-between; 
    gap:10px; 
    margin-top:6px; 
}

/* Botão fechar */
#fecharCriarComunidade {
    background:#2b2b2b; 
    padding:10px 14px; 
    border-radius:12px;
    border:none; 
    cursor:pointer;
    color:#fff;

    box-shadow: 
        6px 6px 12px rgba(0,0,0,0.6),
        -6px -6px 12px rgba(255,255,255,0.05);
}

/* Botão salvar */
.btn-salvar {
    background:#4e73df; 
    color:#fff; 
    padding:10px 14px; 
    border-radius:12px; 
    border:none; 
    cursor:pointer;

    box-shadow: 
        6px 6px 12px rgba(0,0,0,0.5),
        -6px -6px 12px rgba(255,255,255,0.05);
}

/* Checkbox */
.check-maior-idade {
    margin-top: 10px;
    display: flex;
    align-items: center;
    color: #eaeaea;
}

.check-maior-idade input {
    margin-right: 6px;
    transform: scale(1.1);
}
